<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>Home</title>
    <h2>Movie Library</h2>
</head>
<body>
{{^signed-in}}
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Username"/>
    <input type="text" name="password" placeholder="Password"/><br>
    <button type="submit">Login</button><br>
</form>
{{/signed-in}}
{{#signed-in}}
Welcome {{current-user}}<br>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
{{/signed-in}}
<br>
{{#current-page-list}}
<a href="/movie?id={{id}}">{{title}}</a>&nbsp{{year}}
{{#canDelete}}
<form action="/delete" method="post"style="display: inline-block;">
    <input type="hidden" value="{{id}}"  name="id">
    <button type="submit">Delete</button>
</form>
{{/canDelete}}
<br>
{{/current-page-list}}

{{^firstpage}}
<form action="/previous-page" method="post" style="display: inline-block;">
    <button type="submit">Prev</button>
</form>
{{/firstpage}}
{{^lastpage}}
<form action="/next-page" method="post" style="display: inline-block;">
    <button type="submit">Next</button>
</form>
{{/lastpage}}<br>

Page {{pagenumber}} of {{totalpages}}
<form action="/selectpage" method="post">
    Jump to page <input type="number" name="pageselected" placeholder="1" style="width:30px;"/>
    <button type="submit">Go</button>
</form>

 <form action="/toggle-add" method="post" class="mid-field-buttons">
         {{^show-movie-form}}
         {{#signed-in}}
        <button type="submit">Add Movie</button>
         {{/signed-in}}
         {{/show-movie-form}}
 </form>


<div class="addmovieui">
    {{#show-movie-form}}
    <form action="/add-movie" method="post">
    <input type="text" name="title" placeholder="Movie Title"style="width:400px;"><br><br>
    <textarea name="actors" placeholder="Actors/Actresses(one name per line)" style="width:400px; height:80px;"></textarea><br><br>
    <input type="text" name="director" placeholder="Director" style="width:400px;"><br>
    Runtime<input type="number" name="runtime" placeholder="120" style="width:40px;"> minutes<br>
    Year released<input type="number" name="year" placeholder="2000" style="width:75px;"><br>
    Rating<br>
        <input type="radio" name="rating" value="1" checked>
        <input type="radio" name="rating" value="2">
        <input type="radio" name="rating" value="3">
        <input type="radio" name="rating" value="4">
        <input type="radio" name="rating" value="5"> <br>
        &nbsp1&nbsp&nbsp&nbsp&nbsp2&nbsp&nbsp&nbsp3&nbsp&nbsp&nbsp&nbsp4&nbsp&nbsp&nbsp5<br>
        <button type="submit">Add Movie</button></form>
    <form action="/toggle-add" method="post" style="display: inline-block;">
        <button type="submit" style="display: inline-block;">Cancel</button></form>
   {{/show-movie-form}}
</div>
</body>
</html>