.addmovieui
{
     position: absolute;
     top: 120px;
     right: 40px;
     border-style:double;
}
.mid-field-buttons
{
    position: absolute;

        top: 45%;
        width: 100%;
        text-align: center;

}
body
{
    background-color: orange;
}