.addmovieui
{
     position: absolute;
     top: 120px;
     right: 40px;
}
.mid-field-buttons
{
    position: absolute;
        left: 0;
        top: 45%;
        width: 100%;
        text-align: center;

}